server:
  port: 8081

spring:
  application:
    name: itrc-api-rdbms

  datasource:
    url: jdbc:postgresql://localhost:5432/itrcdb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    ICN.itrc_project: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE